# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment directory
py_env/
venv_p/
env/

# Ignore pytest cache directory



.pytest_cache/


# ingonring the logs and .env 
logs/
diagrame/

sample_response/
